<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Login</a></h4>
        <h4><a href="/registration">Registration</a></h4>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h4><a href="/logout">Logout</a></h4>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <h4><a href="/user">Profile</a></h4>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h4><a href="/admin">List Users</a></h4>
    </div>
</div>
</body>
</html>