<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Login Page</title>
</head>
<body>

<form method="post" action="/login" class="form-signin col-md-4 mt-5 offset-md-4">
    <p class="h3 mb-3 font-weight-bold">Please sign in</p>
    <input type="email" name="username" class="form-control" placeholder="Email address">
    <input type="password" name="password" class="form-control" placeholder="Password">
    <input class="btn mt-2 btn-lg btn-primary btn-block" type="submit" value="Sign in"/>
</form>

</body>
</html>