<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form th:action="@{/admin/edit}" method="post">

    login: <input type="text"
                  name="login"
                  th:value="${user.login}"/>
    Password: <input type="text"
                     name="password"
                     th:value="${user.password}"/>
    email: <input type="text"
                  name="email"
                  th:value="${user.email}"/>
    firstName: <input type="text"
                     name="FirstName"
                     th:value="${user.firstName}"/>
    lastName: <input type="text"
                      name="LastName"
                      th:value="${user.lastName}"/>
    age: <input type="text"
                     name="age"
                     th:value="${user.age}"/>

    role:
    <select name="roleIds"
            th:size="${roles.size()}"

            multiple>
        <option
                th:each="role: ${roles}"
                th:value="${role.id}"
                th:text="${role.role}"
                th:selected="${role.inUser}">
        </option>
    </select>

    <br>

    <button class="cc"
            type="submit"
            name="id"
            th:value="${user.id}">

        edit
    </button>

</form>


</body>
</html>