<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--min.css -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>admin</title>
</head>

<body style="background-color: #f4f4f4">
<nav class="navbar navbar-dark  bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <span>User "</span><span th:text="${user.firstName}"/><span>" with role </span><span th:text="${user.role.toString()}"></span>
    </a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/logout}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid ">
    <div class="row min-vh-100">
        <div class="col-3" style="background-color: white">
            <nav>

                <!--left menu-->

                <div class="nav nav-pills flex-column mt-3" id="nav-tab-p" role="tablist">
                    <a class="nav-item nav-link active " id="nav-profile-tab-p" data-toggle="tab" href="#nav-profile-p"
                       role="tab" aria-controls="nav-profile" aria-selected="false">
                        User
                    </a>
                </div>
            </nav>

        </div>
        <div class="col mt-3">
            <div class="tab-content" id="nav-tabContent-p">

                <!--user-->

                <div class="tab-pane fade show active " id="nav-profile-p" role="tabpanel" aria-labelledby="nav-profile-tab-p">
                    <div class="container ">
                        <div class="row" style="height: 100px">
                            <div class="d-flex align-items-center ml-4" style="font-size: 60px">
                                User information page
                            </div>

                        </div>
                        <div class="row border rounded" style="height: 50px">
                            <div class="d-flex align-items-center ml-4" style="font-size: 30px">
                                About user
                            </div>

                        </div>
                        <div class="row" style="background-color: white">
                            <div class="container m-3">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>login</th>
                                        <th>password</th>
                                        <th>email</th>
                                        <th>roles</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td th:text="${user.login}" />
                                        <td th:text="${user.password}" />
                                        <td th:text="${user.email}" />
                                        <td>
                                            <select name="roleIds" th:size="${user.role.size()}" disabled>
                                                <option th:each="role: ${user.role}"
                                                        th:value="${role.id}"
                                                        th:text="${role.role}">
                                                </option>
                                            </select>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>


